.container {
  max-width: 1150px;
}
header[role="banner"] {
  margin-left: 0px!important;
  margin-right: 0px!important;
  margin-top: 20px;
  margin-bottom: 0px!important;
}

.header-top {
  background: #f0f0f0;
  border-bottom: 1px solid #b2b2b2;
  padding: 5px 0;
  text-transform: uppercase;
  color: #666666;
  font-size: 12px;
}

.header-top ul {
  margin: 0;
}

.footer-wrapper {
  margin-top: 30px;
  background: #f0f0f0;
  border-top: 1px solid #ddd;
  padding: 40px 0 20px 0;
}
footer hr {
  border-top: 1px solid #ccc;
}

.logo img {
	max-width: 250px;
}
.brand-line {
	margin-bottom: 20px;
}

.brand-line  .middle{
	margin-top: 20px;
}
.brand-line .right {
	margin-top: 15px;
}
.language-switch {
	margin-right: 20px;
}
.navbar-default {
	background: #93bc4d url('../images/navbar.jpg') no-repeat -2px -1px;
	border-color:#93bc4d;
}
.cms-page-view .layout-1-col .std {
	min-height: 400px
}
.price-box .price-label {
	display:none; 
}

.products-grid .old-price,
.products-grid .special-price {
  display: inline-block;
}

.products-grid .delivery-time {
  margin-top: 10px;
  font-size: 12px;
  color:#666;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.price-box .special-price .price,
.price-box .regular-price .price {
  font-weight: bold;
  color: #000;
}

.product-essential .special-price, .product-essential .regular-price, .product-essential .price-from, .product-essential .minimal-price {
  font-size: 22px;
  display: block;
}

.product-shop .product-name h1 {
	margin-top: 0px;
}
.products-grid  .tax-details {
	display: none;
}

.products-grid .product-name {
	padding-top: 15px;
}

.products-grid .product-name a{
	color:#000000;
}

.toolbar .pagination {
  margin: 0;
}
.toolbar.navbar {
  margin-top: 18px;
}
.toolbar.navbar {
  z-index: 999;
}
.navbar-right.navbar-collapse {
  padding-left: 0;
  margin-right: 0px;
}
.toolbar-bottom .toolbar > div:nth-child(0),
.toolbar-bottom .toolbar > div:nth-child(1),
.toolbar-bottom .toolbar > div:nth-child(2),
.toolbar-bottom .toolbar > div:nth-child(3){
	display:none!important;
}
.open > .dropdown-menu {
  display: block;
  top: auto;
  left: auto;
}

#crosssell-products-list .add-to-links {
	display:none;
}

.img-thumbnail, .products-grid .product-image img, .products-list .product-image img, .product-essential .product-img-box img{
	border:0 none;
}



.product-image, .no-touch .product-img-box .product-image:not(.zoom-available):hover {
	position: relative;
	display: block;
}
.product-image-gallery {
	position: relative;
}
.product-img-box .product-image img {
	max-width: 100%;
	max-height: 750px;
	margin: 0px auto;
}
.product-image-gallery .gallery-image {
	display: none;
}
.product-image-gallery:before {
	background-color: white;
	opacity: 0.8;
	z-index: 2;
}
.product-image-gallery:before, .product-image-gallery:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}
.product-image-gallery:after {
	background-image: url("../images/opc-ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3;
}
.product-image-gallery:before, .product-image-gallery:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}
.product-image-gallery .gallery-image.visible {
	display: block;
}
.product-img-box .product-image img {
	max-width: 100%;
	max-height: 750px;
	margin: 0px auto;
}

.product-view .product-shop .add-to-box, .product-view .product-shop .short-description {
  margin-top: 15px;
}
.product-view .product-shop .input-group-addon {
	background-color:#fff;
}

.more-views {
	margin-top: 15px;
	overflow:hidden;
}
.more-views .more-view-item.thumbnail {
  padding: 7px;
}
.more-views .more-view-item {
  margin: 0px 15px 15px 0;
  float: left;
}
