<?php
/**
 * Product additional attributes template
 *
 * @see Mage_Catalog_Block_Product_View_Attributes
 */
?>
<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
	
	$check_attr = array(
		'hand_washbasin_corner',
		'overfall',
		'furniture_suitable',
		'heating_with'
	);
?>
<?php if($_additional = $this->getAdditionalData()): ?>
    <? /*<strong><?php echo $this->__('Additional Information') ?></strong> */ ?> 
<table class="data-table table table-striped table-condensed table-bordered table-hover" id="product-attribute-specs-table">
    <col width="40%" />
    <col />
    <tbody>
    <?php foreach ($_additional as $_data): ?>
    	<?
    	if( $_data['code'] == 'weight'){
    		continue;
    	}
		
    	if($_data['value'] == 'Nein' && $_data['code'] == 'color'){
    		continue;
    	}
		
		if(!in_array($_data['code'],$check_attr)){
	    	if($_data['value'] == 'Nein'){
	    		$_data['value'] = '-';
	    	}
		}
    	?>
        <tr>
            <th class=""><?php echo $this->htmlEscape($this->__($_data['label'])) ?></th>
            <td class="data"><?php echo nl2br($_helper->productAttribute($_product, $_data['value'], $_data['code'])) ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<?php endif;?>
