// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}/variables.less";

//
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------

// Brand colors
// -------------------------

@brand-primary:         #93bc4d;

// COMPONENT VARIABLES
// --------------------------------------------------

@border-radius-base:        1px;
@border-radius-large:       1px;
@border-radius-small:       2px;
@btn-border-radius-base:         1px;
@btn-border-radius-large:        1px;
@btn-border-radius-small:        1px;

@input-border-radius:            1px;
@input-border-radius-large:     1px;
@input-border-radius-small:      1px;

@pager-border-radius:                  1px;

@navbar-default-bg: @brand-primary;
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-hover-bg:             darken(@navbar-default-bg, 6.5%);
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;


// Popovers
// -------------------------
@popover-max-width:                   400px;
