<?php
/**
 * Product list toolbar
 *
 * @see Mage_Catalog_Block_Product_List_Toolbar
 */
?>

<?php if($this->getCollection()->getSize()): ?>
<div class="row toolbar navbar hidden-xs">
	<div class="collapse navbar-collapse navbar-left">
		<div class="btn-group">
			<a class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
			  <?php echo $this->__('Show') ?> <? echo $this->getData('_current_limit') ?> <?php echo $this->__('per page') ?> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
					<li><a href="<?php echo $this->getLimitUrl($_key) ?>"><?php #echo $this->__('Show') ?> <?php echo $_limit ?> <?php echo $this->__('per page') ?></a></li>					
				<?php endforeach; ?>
			</ul>
		</div>
	</div>
			
	<?php if( $this->isExpanded() ): ?>
			<div class="sort-by collapse navbar-collapse navbar-left ">
				<div class="input-group">
					<div class="btn-group">
						<? $available_orders = $this->getAvailableOrders(); ?>
						<a class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
						  <?php echo $this->__('Sort By') ?> <? echo $available_orders[$this->getCurrentOrder()] ?> <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							 <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
								<li><a href="<?php echo $this->getOrderUrl($_key, 'asc') ?>"><?php echo $_order ?></a></li>	
							<?php endforeach; ?>
						</ul>
					</div>				
				</div>
			</div>	
			
			<div class="navbar-left btn-sort-by navbar-collapse">
				<?php if($this->getCurrentDirection() == 'desc'): ?>
				<a href="<?php echo $this->getOrderUrl(null, 'asc') ?>" title="<?php echo $this->__('Set Ascending Direction') ?>" class="btn btn-default btn-sm"><i class="fa fa-sort-amount-asc"></i></a>
				<?php else: ?>
				<a href="<?php echo $this->getOrderUrl(null, 'desc') ?>" title="<?php echo $this->__('Set Descending Direction') ?>" class="btn btn-default btn-sm"><i class="fa fa-sort-amount-desc"></i></a>
				<?php endif; ?>
		<?php if( $this->isEnabledViewSwitcher() ): ?>
				<span class="view-mode">
					<?php $_modes = $this->getModes(); ?>
					<?php if($_modes && count($_modes)>1): ?>
					<?php foreach ($this->getModes() as $_code=>$_label): ?>
						<?php if($_code == 'grid'): ?>
							<a href="<?php echo $this->getModeUrl($_code) ?>" title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?> btn btn-default btn  <?php echo $this->isModeActive($_code)?'disabled':''?>" ><i class="fa fa-th-large"></i></a>
						<?php else: ?>
							<a href="<?php echo $this->getModeUrl($_code) ?>" title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?> btn btn-default btn  <?php echo $this->isModeActive($_code)?'disabled':''?>"><i class="fa fa-align-justify"></i></a>
						<?php endif; ?>
					<?php endforeach; ?>
					<?php endif; ?>
				</span>
		<?php endif; ?>
			</div>
    <?php endif; ?>
    
    
    <?php #if (!$this->isFirstPage()): ?>
    	<div class="navbar-right collapse navbar-collapse">
		<?php echo $this->getPagerHtml() ?>
		</div>
	<?php #endif; ?>
</div>
<?php endif ?>
