<?php
/* @var $this Mage_Core_Block_Template */
/* @var $catalogSearchHelper Mage_Catalogsearch_Helper_Data */
$catalogSearchHelper =  $this->helper('catalogsearch');
?>
<form id="search_mini_form" class="" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get" role="search">
	<div class="form-group">
		<div class="input-group">
			<input id="search" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="form-control"  maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" />
			<span class="input-group-btn">
				<button type="submit" title="<?php echo $this->__('Search') ?>" class="btn btn-primary">
					&nbsp;&nbsp;<span class="fa fa-search"></span>&nbsp;&nbsp;
				</button>
			</span>
		</div>
	</div>
	<div id="search_autocomplete" class="search-autocomplete"></div>
	<script type="text/javascript">
	//<![CDATA[
        var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search entire store here...') ?>');
		searchForm.initAutocomplete('<?php echo $catalogSearchHelper->getSuggestUrl() ?>', 'search_autocomplete');
	//]]>
	</script>
</form>
