<div class="footer-wrapper">
	<div class="container">
	    <footer role="contentinfo">
	    	<div class="row">
	    		<div class="col-sm-3">
					<p>
						<strong><?=$this->__('Contact Us') ?></strong>
					</p>
					<p>
						<?=Mage::getStoreConfig('general/imprint/shop_name') ?><br />
						<?=Mage::getStoreConfig('general/imprint/company_first') ?>
					</p>
					<p>
						<?=Mage::getStoreConfig('general/imprint/street') ?><br />
						<?=Mage::getStoreConfig('general/imprint/zip') ?> <?=Mage::getStoreConfig('general/imprint/city') ?>
					</p>
					<p>
						<?=Mage::getStoreConfig('general/store_information/phone') ?><br />
						<?=Mage::getStoreConfig('general/imprint/email') ?>
					</p>
				</div>
				<div class="col-sm-3">
	    			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_links')->toHtml() ?>
	    		</div>
	    		<div class="col-sm-3">
	    			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_location')->toHtml() ?>
	    		</div>
	    		<div class="col-sm-3">
	    			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_follow')->toHtml() ?>
	    		</div>
	    	</div>
	
	        <div class="row">
	        	<div class="col-xs-12">
	        		<hr />
					<div class="priceinfo text-muted"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_priceinfo')->toHtml() ?></div>
					<hr />
	        	</div>
	        </div>
	        	
	        <div class="row">
	    		<div class="col-xs-12">
	        		<div class="text-muted"><?php echo $this->getCopyright() ?></div>
	        	</div>
	        </div>
	    </footer>
	</div>
</div>
