
<div class="header-top hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-4"><i class="fa fa-caret-right"></i> <?php echo strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('head_col_1')->toHtml()) ?></div>
					<div class="col-sm-4"><i class="fa fa-caret-right"></i> <?php echo strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('head_col_2')->toHtml()) ?></div>
					<div class="col-sm-4"><i class="fa fa-caret-right"></i> <?php echo strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('head_col_3')->toHtml()) ?></div>
				</div>
			</div>
			<div class="col-sm-2 text-right"><?php echo $this->getChildHtml('topLinks') ?> <?php echo $this->getChildHtml('store_language') ?></div>
		</div>
	</div>
</div>


<div class="container">
    <header role="banner">
    	
    	
    	<div class="row brand-line">
	    	<div class="col-sm-4 col-md-4">
				<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
					<img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class=" img-responsive" />
				</a>      
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 middle">
				<?php echo $this->getChildHtml('topSearch') ?>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 right">
				<?php echo $this->getChildHtml('topcart'); ?>
			</div>
    	</div>
    	
    	<div class="row">
    		<div class="col-xs-12">
    			<?php echo $this->getChildHtml('topMenu') ?>
    		</div>
    	</div>
        
        
        <?php #echo $this->getChildHtml('topContainer'); ?>
    </header>
</div>

