<?php 
$_cartQty = $this->getSummaryCount();
?>
<div class="mini-cart pull-right">
	<div class="row">
		<div class="col-sm-12 mini-cart-content">
			<div class="text-right">
				<a href="<? echo $this->getUrl('checkout/cart') ?>" class="btn-group">
					<?php if($_cartQty == null): ?>
					  <button type="button" class="btn btn-default btn-lg "><span class="fa fa-shopping-cart fa-1x"></span>
					<? else: ?>
					  <button type="button" class="btn btn-primary btn-lg "><span class="fa fa-shopping-cart fa-1x"></span>
					<? endif; ?>
				  <? echo $this->__('Cart') ?> (<?php echo $_cartQty == null ? 0 : $_cartQty ?>)</button>
				</a>
					<?php #echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?> 
				
			</div>
		</div>
	</div>
</div>