<?php
/**
 * Catalog advanced search form
 *
 * @see Mage_CatalogSearch_Block_Advanced_Form
 */
?>
<?php $maxQueryLength= $this->helper('catalogsearch')->getMaxQueryLength();?>
<div class="page-title page-header">
    <h1><?php echo $this->__('Catalog Advanced Search') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getSearchPostUrl() ?>" method="get" id="form-validate" class="col-sm-offset-3 col-sm-6 form-horizontal">
    <div class="fieldset advanced-search panel panel-default">
        <div class="panel-heading"><?php echo $this->__('Search Settings') ?></div>
        <ul class="form-list list-unstyled panel-body" id="advanced-search-list">
            <?php foreach ($this->getSearchableAttributes() as $_attribute): ?>
            <?php $_code = $_attribute->getAttributeCode() ?>
            <li class="form-group">
                <label for="<?php echo $_code ?>" class="col-lg-3 control-label"><?php echo $this->getAttributeLabel($_attribute) ?></label>
                <div class="col-lg-9">
                <?php switch($this->getAttributeInputType($_attribute)):
                    case 'number': ?>
                    <div class="input-range row">
                    	<div class="col-sm-4">
                        	<input type="text" name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number form-control" maxlength="<?php echo $maxQueryLength;?>" />
                        </div>
                        <div class="col-sm-1">
                        	<span class="separator">-</span>
                        </div>
                        <div class="col-sm-4">
                        	<input type="text" name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number form-control" maxlength="<?php echo $maxQueryLength;?>" />
                        </div>
                    </div>
                    <?php break;
                    case 'price': ?>
                    <div class="input-range row">
                    	<div class="col-sm-4">
                        	<input name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number form-control" type="text" maxlength="<?php echo $maxQueryLength;?>" />
                        </div>
                        <div class="col-sm-1">
                        	<span class="separator">-</span>
                        </div>
                        <div class="col-sm-4">
                        	<input name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number form-control" type="text" maxlength="<?php echo $maxQueryLength;?>" />
                        </div>
                        <div class="col-sm-1">
                        	<small>(<?php echo $this->getCurrency($_attribute); ?>)</small>
                        </div>
                    </div>
                    <?php break;
                    case 'select': ?>
                        <div class="input-box">
                            <?php echo $this->getAttributeSelectElement($_attribute) ?>
                        </div>
                    <?php break;
                    case 'yesno': ?>
                        <?php echo $this->getAttributeYesNoElement($_attribute) ?>
                    <?php break;
                    case 'date': ?>
                    <div class="input-range row">
                    	<div class="col-sm-5">
                    		<?php echo $this->getDateInput($_attribute, 'from') ?>
                        </div>
                        <div class="col-sm-2">
                    		<span class="separator">-</span>
                        </div>
                        <div class="col-sm-5">
                    		<?php echo $this->getDateInput($_attribute, 'to') ?>
                        </div>
                    </div>
                    <?php break;
                    default: ?>
                    <div class="input-box">
                        <input type="text" name="<?php echo $_code ?>" id="<?php echo $_code ?>" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute)) ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="form-control input-text <?php echo $this->getAttributeValidationClass($_attribute) ?>" maxlength="<?php echo $maxQueryLength;?>" />
                    </div>
                <?php endswitch; ?>
               	</div>
            </li>
            <?php endforeach; ?>
        </ul>
        <script type="text/javascript">decorateList('advanced-search-list')</script>
    
	    <div class="buttons-set panel-footer text-right">
	        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button btn btn-primary"><span><span><?php echo $this->__('Search') ?></span></span></button>
	    </div>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
