<div class="row">
<?php
/*
$catIds = array(
	11,
	10,
	19,
	20,
	9,
	13,
	0,
	12,
	21
);
$catCollection1 = Mage::getModel('catalog/category')->load(2)->getChildren();
$catCollection2 = Mage::getModel('catalog/category')->load(3)->getChildren();

$categoryCollection = Mage::getModel('catalog/category')->getCollection()
						->addAttributeToSelect('*')
						#->addIdFilter($catCollection1)
						->addIdFilter($catCollection1.','.$catCollection2)
						->addAttributeToFilter('visible_on_homepage', array( 'eq' => true) )
						->addIsActiveFilter()
						->addAttributeToSort('position', 'asc')
						;

#unset($categoryCollection{5});

$_i=0;					
foreach($categoryCollection as $cat): 
	if($cat->getId() == 7):
		$_news = $cat;
		continue;
	endif;
	
	if($_i == 7):
		?>
		<div class="col-sm-8 ">
			<div class="wrap-news" style="">
				<div class="wrap-news-inner" style="">
					<div class="row">
						<div class="col-xs-5 text-center">
							<img class="" src="<?= Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>wysiwug/Bootstrap-Template_formfollow_NEWS.jpg" alt="" />
						</div>
						<div class="col-xs-7">
							<br /><p><b>JIN KURAMOTO aus japan</b></p>
							<p>
JIN KURAMOTO STUDIO was founded in Tokyo in
2008 by Jin Kuramoto.
It engages in various product design development
such as furniture, home electric appliances, daily
necessities by approach to introduce the essence of
things into by clear formative expression.</p>
<div class="home-box overlay hide">
			<a href="#" class="">
				news
			</a>
		</div>
					</div>
					</div>
					
						
				</div>
			</div>
		</div>
		<?
	endif;
	
	if(!in_array($cat->getId(), $catIds)):
		#continue;
	endif;
	#$_category = Mage::getModel('catalog/category')->load($cat->getId());
	$_name= strtolower($cat->getName());
	if($_name == 'accessories'){
		$_name = 'acces sories';
	}
	if($_name == 'aufbewahrung'){
		$_name = 'aufbew ahrung';
	}
	if($cat->getImageUrl() == ''){
		continue;
	}
	?>
 
	<div class="col-sm-4 ">
		<div class="home-box overlay">
			<a href="<?=$cat->getUrl() ?>" class="">
				<?=$_name ?>
			</a>
		</div>
		<img src="<?=$cat->getImageUrl() ?>" alt="<?=$cat->getName() ?>" class="img-responsive" />
	</div>  

<? $_i++; endforeach */ ?>
</div>